# Environment
.env
.htpasswd

# Certs
acme.json

# Editor config
.idea
.vscode

# Authelia
appdata/authelia/configuration.yml
appdata/authelia/users.yml
secrets/authelia_jwt_secret
secrets/authelia_session_secret

# Plex
appdata/plex/config/Library

# Traefik
appdata/traefik/log/*.log
