# Environment
.env

# Certs
acme.json

# Editor config
.idea
.vscode

# Authelia
appdata/authelia/configuration.yml
appdata/authelia/notification.txt
appdata/authelia/users.yml

# Plex
appdata/plex/config/Library

# Portainer
appdata/portainer/data/bin
appdata/portainer/data/certs
appdata/portainer/data/compose
appdata/portainer/data/docker_config
appdata/portainer/data/tls
appdata/portainer/data/portainer.*

# Postgres
appdata/postgres/initdb.d/authelia-user-db.sh

# Redis
appdata/redis/redis.conf
appdata/redis/data/*.aof
appdata/redis/data/*.rdb

# Secrets
secrets/authelia_*
secrets/postgres_*

# Traefik
appdata/traefik/log/*.log
appdata/traefik/rules/web-middlewares.yml
