# Environment
.env

# Certs
acme.json

# Editor config
.idea
.vscode

# Authelia
appdata/authelia/configuration.yml
appdata/authelia/notifications.txt
appdata/authelia/users.yml
secrets/authelia_*

# Plex
appdata/plex/config/Library

# Redis
appdata/redis/data/*.aof
appdata/redis/data/*.rdb

# Traefik
appdata/traefik/log/*.log
appdata/traefik/rules/web-middlewares.yml
